* {
    margin: 0;
    padding: 0;
    background-color: #8fdbdb;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    height: 400px;
    width: 90%;
    border: 2px solid black;
    border-radius: 23px;
    background-color: rgb(175, 111, 65);
    font-size: 22px;
    font-weight: 900;

}

.parent {
    display: block;
    justify-items: center;
    align-content: center;
    height: 500px;
    width: 90%;
    background-color: chocolate;
    border: 1px solid black;
    border-radius: 23px;
}

.sup {
    display: block;
    justify-self: center;
    justify-items: center;
    align-content: center;
    height: 600px;
    width: 80%;
    background-color: rgb(112, 68, 37);
    border: 1px solid black;
    border-radius: 23px;

    /* background-image: url(image\ copy.png);
    background-size: cover;
    background-attachment: fixed; */

}

h1 {
    display: block;
    justify-self: center;
    font-size: 50px;
}

h2 {
    background-color: rgb(112, 68, 37);
    color: aliceblue;
}

.pare {
    background-color: chocolate;
    color: black;
}